body{
    background-color: darkgrey;
}
header{
    font-size: 40px;
    color:black;
    background: white;
    border: 2px solid grey;
    margin: 10px;
    padding: 10px;
}
#quiz {
    display: none;
    background-color: lightgray;
    color: black;
    padding: 20px;
    border:3px dashed black;
    margin: 10px;
    justify-content: center;
    width:700px;
}

#time {
    display: none;
}
h4{

    background-color: red;
    padding:2px;
    margin: none;
    border: red;
    width:100px;
}
#questions button{
    background-color: orange;
    color: white;
    justify-content: center;

}
#choice1 #choice2 #choice3{
    background-color: lightblue;
    color: grey;
}

#end {
    background-color: rgb(97, 97, 198) ;
    color: white;
    display: none;
    justify-content: center;
    width: 700px;
    border: 3px solid grey ;
}
#start {
    background-color: lightcyan;
    padding: 10px;
    border: 3px solid grey;
    margin: 10px;
    width: 700px;
    height: auto;
    justify-content: center;

    
}
h3 {
    /* ??? */
}