body{
    background-color: darkgrey;
}
header{
    font-size: 40px;
    color:black;
    background: white;
    border: 2px solid grey;
    margin: 10px;
    padding: 10px;
}
#quiz {
    display: none;
    background-color: lightgray;
    color: black;
    padding: 20px;
    border:3px dashed black;
    margin: auto;
    width:500px;
    height: 250px;
    text-align: center;
    align-content: center;
}

#time {
    display: none;
}
h4{
   float: right;
    background-color: red;
    padding:2px;
    margin: none;
    border: red;
    width:100px;
}
#questions button{
    background-color: darkorange;
    color: white;
    margin: auto;
    padding: 10px;

}
/* #choice1 #choice2 #choice3{
    background-color: lightblue;
    color:black;
} */

#end {
    background-color: rgb(97, 97, 198) ;
    color: white;
    display: none;
    justify-content: center;
    width: 500px;
    border: 3px solid grey ;
    text-align: center;
    margin: auto;
}
#start {
    font-size: 28px;
    background-color: lightcyan;
    padding: 10px;
    border: 3px solid grey;
    margin: auto;
    width: 500px;
    height: 250px;
    text-align: center;
    

    
}
h3 {
    /* ??? */
}